
#pag{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    padding: 2rem 1rem;
}
#caja{
    background-image: url(https://www.ruta0.com/pix/una-ruta.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;

    border: 3px solid black;
    border-radius: 12px;
    padding: 2rem 1.25rem;
    text-align: center;
    box-shadow: 0 0 18px black;
    font-family: 'Poppins', sans-serif;
}
.cartel{
    display: block;
    margin: auto;
    width: min(180px, 60vw);
    height: auto;
}
#caja p{
    font-family: sans-serif;
    margin: 1vw 0;
    color: white;
    font-size: clamp(1.1rem, 2vw, 1.6rem);
}
.vi{
    font-family: 'Poppins', sans-serif;
    margin: auto;
    padding: .6rem .9rem;
    color: black;
    font-size: 1rem;
    background-color: #ecebeb;
    text-decoration: none;
    border-radius: 12px;
}
