body{
    background-image: url(https://i.redd.it/kz0r48rd8x241.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 110vw;
}
.redes{
    background-color: transparent;
    margin-left: 4.5%;
    width: 10vw;
}
#redes{
    display: flex;
}
.redest{
    font-size: 2vw;
    text-align: left;
    margin-left: 10%;
}
#formulario{
    background-color: white;
}