    @import url(https://db.onlinewebfonts.com/c/4fab58d20f27451d926cab0757c4cd6a?family=NHL+San+Jose);
body {
    background-color: #ecebeb;
    margin: 0px;
    padding: 0px;
}
nav, a{
    background-color: #12100D;
    color: white;
    text-decoration: none solid;
    text-align: center;
    font-family: 'NHL San Jose';
    padding: 10px;
    font-size: 20px;
}
.banner{
    width: 100%;
    height: 120px;
    background-image: url(https://cdnb.artstation.com/p/assets/images/images/041/235/741/large/chinmay-thorat-render-cam-1-final-ps-depth-newcr.jpg?1631129931);
    background-size:cover;
    background-position: center 61%;
}
h1{
    position: absolute;
    text-align: center;
    width: 100%;
    margin-top: 19px;
}
.ford{
    color: #64A8C5;
    font-size: 80px;
    font-family: 'NHL San Jose';
    text-align: center;
    margin-right: 3px;
    background-color: transparent;
    text-shadow: 5px 5px 6px #000000;
}
.v{
    color: #302A22;
    font-size: 33px;
    font-family: 'NHL San Jose';
    text-align: center;
    background-color: transparent;
    text-shadow: 5px 5px 6px #000000;
}
.ferrari{
    color: #d04130;
    font-size: 80px;
    font-family: 'NHL San Jose';
    text-align: center;
    margin-left: 3px;
    background-color: transparent;
    text-shadow: 5px 5px 6px #000000;
}
.sub{
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 6px;
    padding-bottom: 4px;
    margin: 80px;
    text-align: center;
    font-size: 120%;
}
.subactivo{
    color: #d04130;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 6px;
    padding-bottom: 4px;
    margin: 80px;
    text-align: center;
    font-size: 120%;
}
footer{
    background-color: #12100D;
    color: white;
    text-decoration: none solid;
    text-align: right;
    padding: 10px;
    font-size: 20px;
    margin-top: 230px;
    margin-bottom: 0px;
}