    @import url(https://db.onlinewebfonts.com/c/4fab58d20f27451d926cab0757c4cd6a?family=NHL+San+Jose);
body {
    background-color: #ecebeb;
    margin: 0;
    width: 100vw;
}
#banner{
    width: 100vw;
    height: 4vw;
    background-image: url(https://cdnb.artstation.com/p/assets/images/images/041/235/741/large/chinmay-thorat-render-cam-1-final-ps-depth-newcr.jpg?1631129931);
    background-size:cover;
    background-position: center 61%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#banner h1{
    margin: 0;
    text-align: center;
}
.ford{
    color: #64A8C5;
    font-size: 3vw;
    font-family: 'NHL San Jose';
    background-color: transparent;
    text-shadow: 5px 5px 6px #000000;
    margin-right: 6px;
    text-decoration: none;
}
.v{
    color: #302A22;
    font-size: 1.5vw;
    font-family: 'NHL San Jose';
    background-color: transparent;
    text-shadow: 5px 5px 6px #000000;
    margin: 0 4px;
    text-decoration: none;
}
.ferrari{
    color: #d04130;
    font-size: 3vw;
    font-family: 'NHL San Jose';
    background-color: transparent;
    text-shadow: 5px 5px 6px #000000;
    margin-left: 6px;
    text-decoration: none;
}
nav{
    background-color: #12100D;
    padding: .1vw 0;
    margin: 0;
}
#sub{
    display: flex;
    gap: 12%;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 0;
}
#sub a{
    color: white;
    text-decoration: none;
    font-family: 'NHL San Jose';
    font-size: .9vw;
    padding: 6px 12px;
    background-color: transparent;
    display: inline-block;
}
#sub a:hover{
    background-color: #333;
    border-radius: 5px;
}
#sub a.subactivo{
    color: #d04130;
}
footer{
    background-color: #12100D;
    color: white;
    text-decoration: none solid;
    text-align: right;
    padding: .25vw;
    font-size: .7vw;
    margin-top: 12vw;
}