.poster{
    width: 15vw;
    border: 3px solid black;
    border-radius: 10px;
    padding: 1.3%;
    background-color: #d04130;
    margin-top: 8%;
}
.ti{
    font-size: 1vw;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 3px solid black;
    border-radius: 10px;
    padding: 1% 2%;
    background-color: #64A8C5;
    transition: 2s;
    margin-right: 10%;
}
.titulo{
    color: black;
    font-size: 1.1vw;
    font-family: 'NHL San Jose';
    border: 3px solid black;
    border-radius: 10px;
    padding: 1% 2%;
    background-color: #64A8C5;
    transition: 2s;
    text-align: center;
    margin-right: 10%;
}
.titulo:hover, .ti:hover{
    transition: 2s;
    background-color: #d04130 ;
}
section{
    display: flex;
    justify-content: center;
    gap: 15%;
    padding: 2%;
    margin-left: 5%;
}
