.poster{
    width: 400px;
    margin-left: 200px;
    margin-top: -100px;
    border: 3px solid black;
    border-radius: 10px;
    padding: 15px 15px;
    background-color: #d04130;
}
.ti{
    margin-left: 870px;
    margin-top: -500px; 
    margin-right: 13%;
    text-align: left;
    font-size: 27px;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 3px solid black;
    border-radius: 10px;
    padding: 15px 25px;
    background-color: #64A8C5;
}
.titulo{

    color: black;
    font-size: 30px;
    margin-left: 870px;
    margin-top: 100px;
    margin-right: 13%;
    font-family: 'NHL San Jose';
    border: 3px solid black;
    border-radius: 10px;
    padding: 15px 25px;
    background-color: #64A8C5;
    text-align: center;
}