.produccion{
    color: black;
    font-size: 30px;
    margin-top: 50px;
    margin-right: 40%;
    margin-left: 40%;
    font-family: 'NHL San Jose';
    border: 3px solid black;
    border-radius: 10px;
    padding: 8px 8px;
    background-color: #d04130;
    text-align: center;
}
.produtext{
    margin-left: 10%;
    margin-right: 10%;
    text-align: left;
    font-size: 27px;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 3px solid black;
    border-radius: 10px;
    padding: 15px 25px;
    background-color: #64A8C5;
}
.prod{
    height: 200px;
    margin-left: 200px;
    margin-top: 2%;
    margin-bottom: 2%;
    border: 3px solid black;
    border-radius: 10px;
}
.productoras{
    margin-left: 300px;
}
.produtext2{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1%;
    text-align: left;
    font-size: 27px;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 3px solid black;
    border-radius: 10px;
    padding: 15px 25px;
    background-color: #64A8C5;
}