.produccion{
    color: black;
    font-size: 1vw;
    margin-top: 2vw;
    margin-right: 40%;
    margin-left: 40%;
    font-family: 'NHL San Jose';
    border: 3px solid black;
    border-radius: 10px;
    padding: 8px 8px;
    background-color: #d04130;
    text-align: center;
}
.produtext{
    margin-left: 10%;
    margin-right: 10%;
    text-align: left;
    font-size: 1vw;;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 3px solid black;
    border-radius: 10px;
    padding: 15px 25px;
    background-color: #64A8C5;
}
.prod{
    height: 8vw;
    margin-top: 2%;
    margin-bottom: 2%;
    border: 3px solid black;
    border-radius: 10px;
}
#productoras{
    display: flex;
    gap: 5rem;
    justify-content: center;
}
.produtext2{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1%;
    text-align: left;
    font-size: 1vw;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 3px solid black;
    border-radius: 10px;
    padding: 15px 25px;
    background-color: #64A8C5;
}