
.mta{
    height: 350px;
    margin-left: 5.21%;
    margin-right: 1.56%;
    margin-top: 5%;
    border: 3px solid black;
    border-radius: 10px;
}
.a1{
    border: 3px solid black;
    border-radius: 10px;
    margin-right: 81.8%;
    margin-left: 4.79%;
    padding: 5px;
    text-align: center;
    background-color: #64A8C5;
}
.a2{
    border: 3px solid black;
    border-radius: 10px;
    margin-right: 61.88%;
    margin-left: 24.43%;
    padding: 5px;
    text-align: center;
    margin-top: -183px;
    background-color: #64A8C5;
}
.a3{
    border: 3px solid black;
    border-radius: 10px;
    margin-right: 42.40%;
    margin-left: 43.65%;
    padding: 5px;
    text-align: center;
    margin-top: -180px;
    background-color: #64A8C5;
}
.a4{
    border: 3px solid black;
    border-radius: 10px;
    margin-right: 22.92%;
    margin-left: 63.13%;
    padding: 5px;
    text-align: center;
    margin-top: -163px;
    background-color: #64A8C5;
}
.a5{
    border: 3px solid black;
    border-radius: 10px;
    margin-right: 3.54%;
    margin-left: 82.66%;
    padding: 5px;
    text-align: center;
    margin-top: -183px;
    background-color: #64A8C5;
}