#cuadros{
    display: flex;
    gap: 2rem;
    padding: 2rem;
}
.card{
    width: 20%;
    border: 3px solid black;
    border-radius: 10px;
    text-align: center;
    background-color: #64A8C5;
    overflow: hidden;
    text-overflow: ellipsis; 
}
.mta{
    width: 15vw;
    height: auto;
    margin-top: 5%;
    border: 3px solid black;
    border-radius: 10px;
}
.card:hover {
    transform: scale(1.03);
}
p{
    font-size: 1.1vw;
    margin-left: 5%;
    margin-right: 5%;
}
h4{
    font-size: 1.3vw;
    margin-top: 8%;
}